{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Mathias Amare</title>
	<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>	
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100 border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/mati.png' %}" >
					<hr>
					<h4>Hi I'm Mathias!</h4>
					<p>A medical doctor, graduated from Bahir Dar University</p>
				</div>	
			</div>
			<div class="col-md-9">
				<div class="card card-body h-100 border-info">



					<h4>Mathias Amare, MD</h4>
					<p>Date of birth: 19/04/1997</p> 
					<p>Nationality: Ethiopian</p>
					<p> Gender Male (+251) 918002646</p>
					<p>mathiasamare@outlook.com</p>



					<h3>Find me on Facebbok,Telegram,Twitter and Linkedin</h3>

					<a target="_blank" href="https://t.me/t.me/maathias">Telegram: @maathias</a>
					
					<br>
					<a target="_blank" href=" https://www.linkedin.com/in/mathias-amare-128289215/ ">Linkedin: @mathias-amare</a>


					
					
					<p>About me: Team player, energetic medical doctor with excellent communication skills
					and leadership experiences. Received best intern of the year award for the
					distinguished achievements in my clinical practices.</p>


					<p>About me: Team player, energetic medical doctor with excellent communication skills
					and leadership experiences. Received best intern of the year award for the
					distinguished achievements in my clinical practices.</p>






					

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/telegram.png' %}"></li>
						<li><img class="social" src="{% static 'images/gmail.png' %}"></li>



					</ul>


				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">


					<h5>My Work Experience</h5>
					<hr>	
					<p>05/2020 – 05/2021 – Bahir Dar, Ethiopia
					INTERN PHYSICIAN – TIBEBE GHION SPECIALIZED HOSPITAL</p>	

					<p>Elicit proper patient Histories and conducted physical exams to diagnose and treat patients.
					Interpreted lab information to provide patients with proper treatment.
					Consulted Residents and specialists whenever necessary and prescribe medication or treatment options.</p>





					
					


				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>HONOURS AND AWARDS</h5>
					<hr>
					<p>05/2021
					Best Intern of the year – Bahir Dar University</p>
					<p>Was chosen as Best Intern of the year from the department of Internal Medicine in acknowledgement of the distinguished achievements in my clinical practices.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>SOCIAL AND POLITICAL ACTIVITIES</h5>
					<hr>
					<p>08/2016 – 05/2021
					Ethiopian Medical Students Association, EMSA</p>
					<p> I Worked with and was an active member of Ethiopian medical students association in many activities including social
					duty program, charitable works and patient education.</p>
					<p>09/2015 – 05/2021
					Club 2/12</p>
					<p>I was an active member of club “2/12” which works on education of society on blood donation and have organized and participated in many blood donation campaigns.</p>

				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body h-100">

					<h5>CONFERENCES AND SEMINARS</h5>
					<hr>
					<p>05/2020 – Addis Ababa, Ethiopia
					COVID-19 Infection prevention and control and clinical management course, Ministry of Health, Ethiopia.</p>
					<p>Attended an online course on COVID-19 Infection prevention and control and clinical management course during the
					pandemic which was organized by Ministry of Health of Ethiopia</p>
					<p>07/2020 – Bahir Dar, Ethiopia
					ART Training</p>
					<p>Attended a training on recent changes on anti retroviral treatment changes.</p>




					
				</div>
			</div>
		</div>
		<br>
	</div>







</body>
</html>


















